@use "./variables" as *;

html {
  font-size: 125%;
}

body {
  font-family: $sans;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 1080px;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba($color: $quaternary, $alpha: 0.5);
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  // display: inline-block;
  // width: 100%;
  // height: 100%;
}

span {
  display: block;
}

h1 {
  font-size: $primaryTitle;
  text-align: center;
}

.logo p,
.error h1,
.error h2 {
  font-family: $serif;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97px;

  div {
    height: 1.4rem;
  }

  p {
    font-size: 1.7rem;
    letter-spacing: -0.5px;
    margin: 0;
    position: relative;
    bottom: 5px;
  }
}

.accountBtns {
  button {
    font-family: $sans;
    background-color: transparent;
    border: 1px solid $senary;
    border-radius: 20px;
    padding: 8px 20px 12px 20px;
    margin: 0 5px;

    a {
      color: $senary;
    }
  }

  .employerBtn {
    border-color: $secondary;
    background-color: $secondary;
  }
}

.partners {
  background-color: $senary;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;

    li {
      gap: 30px;
      padding: 25px 0;
    }
  }
}

.home {
  h2 {
    font-size: $secondaryTitle;
  }

  a {
    font-size: $bodyLarge;
  }
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;

  p {
    color: $secondary;
    padding-bottom: 5px;
    border-bottom: 1px solid $secondary;
    margin: 0;
  }

  button {
    border: none;
    background-color: transparent;
    border-radius: 50%;
    padding: 10px 12px;
    margin-left: 5px;
    cursor: pointer;
  }

  .active {
    background-color: $secondary;
    color: $senary;
  }
}
